/Makefile
/configure
/configure~
/Makefile.in
/aclocal.m4
/autoconf.in
/autom4te.cache/
/autoscan.log
/compile
/config.guess
/config.sub
/configure.scan
/depcomp
/install-sh
/missing
/.deps/
/config.h
/config.log
/config.status
/stamp-h1
