<templatizer lib="files.so">
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Files</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/x-icon" href="favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <include file="css.tmpl"/>
  </head>
  <body>
    <include file="header.tmpl"/>

    <table>
      <tr>
        <th></th>
        <th>Nome</th>
        <th>MIME</th>
        <th>Descrição</th>
        <th>Aplicativo</th>
      </tr>
    <swhile>
      <tr>
	<td><i class="@"></i></td>
        <td><span>@</span></td>
        <td><span>@</span></td>
        <td><span>@</span></td>
        <td><span>@</span></td>
      </tr>
    </swhile>
    </table>

    <include file="footer.tmpl"/>
    <include file="scripts.tmpl"/>
    <script src="js/sort-table.js"></script>
  </body>
</html>
</templatizer>
