<templatizer lib="libfiles.so">
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Files</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/x-icon" href="favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <include file="css.tmpls"/>
  </head>
  <body>
    <include file="header.tmpls"/>

    <table style="width: 100%; table-layout: fixed;">
      <tr>
        <th class="icon-column"></th>
        <th id="file_name" class="ellipsis">Nome</th>
      </tr>
      <swhile>
        <tr>
	  <td class="icon-column"><i class="@" style="font-size: 2em;"></i></td>
          <td class="ellipsis"><span>@</span></td>
          <template class="file-info">
            <table style="width: 100%; table-layout: fixed;">
              <tr>
                <th class="ellipsis">MIME</th>
                <th class="ellipsis">Descrição</th>
                <th class="ellipsis">Aplicativo</th>
              </tr>
              <tr>
                <td class="ellipsis"><span>@</span></td>
              </tr>
              <tr>
                <td class="ellipsis"><span>@</span></td>
              </tr>
              <tr>
                <td class="ellipsis"><span>@</span></td>
              </tr>
            </table>
          </template>
          <td width="0%">
            <ul class="dropdown menu" data-dropdown-menu="">
              <li class="has-submenu">
                <a href="#">More</a>
                <ul class="submenu menu vertical" data-submenu="">
                  <li><a href="#" onclick="showFileInformation();">Information</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </li>
            </ul>
          </td>
      </tr>
      </swhile>
    </table>

    <include file="footer.tmpls"/>
    <include file="scripts.tmpls"/>
    <script src="js/sort-table.js"></script>
    <script>
      var defaultSortHeader = document.getElementById("file_name");
      defaultSortHeader.asc = true;
      sort_table(defaultSortHeader);
    </script>

    <script>
      function showFileInformation() {
        var temp = document.getElementsByClassName("file-info")[0];
        var clon = temp.content.cloneNode(true);
        document.body.appendChild(clon);
      }
    </script>
  </body>
</html>
</templatizer>
