<templatizer>
  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu="">
        <li class="menu-text">Ativarsoft Store</li>
        <li class="has-submenu">
          <a href="#">Nuvem</a>
          <ul class="submenu menu vertical" data-submenu="">
            <li><a href="files.tmpl">Arquivos</a></li>
            <li><a href="calendar.tmpl">Calendário</a></li>
          </ul>
        </li>
        <li><a href="product-page.tmpl">Loja</a></li>
        <li><a href="#">Three</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"/></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
</templatizer>
