<templatizer>
<templatizer lib="/usr/lib/templatizer/plugins/headers.so"/>
<templatizer lib="/usr/lib/templatizer/plugins/html.so"/>
<templatizer lib="/usr/local/share/quick/libdav.so"/>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Log</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      .flex-container {
        display: flex;
        flex-direction: row;
      }

      /* Responsive layout - makes a one column layout instead of a two-column layout */
      \@media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
        }
      }
    </style>

    <style>
      .container {
        border: solid 1px #aaa;
        margin: 0.2em 0 0.2em 0;
        padding: 0.2em;
      }
    </style>
  </head>
  <body>
    <div class="flex-container">
    <!-- sidemenu -->
    <div style="flex: 20%; padding: 0.2em;">
      <div class="container">
        <div style="height: 10%;">
          <img src="" style="height: 100%;"/>
        </div>
        <div>
          <strong>Mateus</strong>
        </div>
        <div>Following: <span>0</span></div>
        <div>Followers: <span>0</span></div>
      </div>
    </div>
    <!-- feed -->
    <div style="flex: 80%; padding: 0.2em;">
    <div>
      <form method="POST" accept-charset="UTF-16">
        <div class="container">
          <textarea name="text" rows="3" style="resize: none; margin: 0; padding 0; border-width: 0; width: 99.9%"></textarea>
        </div>
        <input type="submit" value="Post"/>
      </form>
    </div>
    <br/>
    <swhile>
    <div class="container">

      <!-- post content -->
      <p>@</p>

      <p style="font-size: 0.8em;">
        <span>-</span>
        <span> </span>
        <!-- author -->
        <strong>@</strong>
        <span> </span>
        <!-- datetime -->
        <span style="color: #aaa; font-style: italic;">
          @
        </span>
      </p>

      <p style="color: #aaa; font-size: 0.8em;">
        <span>Categories: </span>
        <!-- for each tag -->
        <swhile>
        <!-- tag -->
        <span style="padding: 0 0.2em 0 0.2em">
          @
        </span>
        </swhile>
      </p>

    </div>
    </swhile>
    </div>
    </div>
  </body>
</html>
</templatizer>
