<templatizer lib="money.so">
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Negócios</title>
  </head>
  <body>
    <include file="header.tmpl"/>

    <section>
      <h1>Extrato bancário</h1>
      <table>
      <!-- banck statement sections -->
        <!--<swhile>-->
          <!-- bank statement lines -->
          <!--<swhile>-->
            <tr>
              <td>@</td>
              <td>@</td>
            </tr>
          <!--</swhile>-->
        <!--</swhile>-->
      </table>
    </section>

    <include file="footer.tmpl"/>
    <include file="scripts.tmpl"/>
  </body>
</html>
</templatizer>
