<templatizer lib="libmoney.so">
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Negócios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <include file="css.tmpls"/>
  </head>
  <body>
    <include file="header.tmpls"/>

    <section>
      <h1>Extrato bancário</h1>
      <table>
      <!-- banck statement sections -->
        <!--<swhile>-->
          <!-- bank statement lines -->
          <swhile>
            <tr>
              <td>@</td>
              <td>@</td>
            </tr>
          </swhile>
        <!--</swhile>-->
      </table>
    </section>

    <include file="footer.tmpls"/>
    <include file="scripts.tmpls"/>
  </body>
</html>
</templatizer>
