<templatizer lib="libnslookup.so">
<templatizer lib="/usr/lib/templatizer/plugins/headers.so"/>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>DNS lookup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/x-icon" href="favicon.png"/>
    <include file="css.tmpls"/>
  </head>
  <body>
    <include file="header.tmpls"/>
    <div class="grid-container">
      <section>

        <div class="grid-x grid-margin-xy">
          <form>
            <div class="large-8 cell">
              <label>
                DNS:
                <input id="dns-name" name="dns-name" type="text" placeholder="@"/>
              </label>
            </div>
            <div class="large-2 cell">
              <input class="button" type="submit" value="@"/>
            </div>
          </form>
        </div>

        <div class="grid-x grid-margin-xy">
          <p>@</p>
        </div>

      </section>
    </div>
    <include file="footer.tmpls"/>
    <include file="scripts.tmpls"/>
  </body>
</html>
</templatizer>
